@media only screen and (min-width:1200px) {

    /* --------------
 common classes
 -------------- */
    .text-decor {
        text-decoration: none;
    }

    .margin-bottom {
        margin-bottom: 150px;
    }

    .button {
        font-family: 'Roboto Mono', monospace;
        color: white;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    /* --------------- 
header section related classes
-------------------------- */
    .header-section {
        display: flex;
        width: 1321px;
        background-color: rgb(35, 35, 35);
        height: 646px;
        border-radius: 30px 30px 50px 50px;
        margin-top: 40px;
        margin-left: 75px;
    }

    .header-para {
        font-size: 20px;
        color: lightgray;
        margin-bottom: 20px;
        padding: 15px;
    }

    #header-title {
        color: white;
        font-size: 60px;
        font-weight: bolder;
        word-spacing: 4px;
    }

    .header-button {
        background-color: red;
        padding: 10px 15px;
        font-size: 20px;
    }

    .header-img img {
        margin-bottom: 0px;
        width: 100%;
        height: 100%;
    }

    .header-info {
        width: 50%;
        margin-left: 40px;
    }

    .icon {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* ----------------
main-section related classes
--------------------- */
    .container {
        display: flex;
    }

    .menu {
        display: flex;
        flex-direction: column;
        background-color: rgb(35, 35, 35);
        padding: 20px;
        width: 312px;
        height: 312px;
        margin-left: 90px;
        margin-right: 25px;
        border-radius: 15px;

    }

    .menu-button {
        padding-left: 75px;
        background-color: whitesmoke;
        margin: 10px;
        padding-bottom: 10px;

        color: rgb(35, 35, 35);
        font-size: 25px;
        padding-top: 25px;
        border-radius: 10px;
    }

    #All-Groups:active {
        color: white;
        background-color: red;
    }

    #Blogs:active {
        background-color: red;
        color: white;
    }

    #Upcoming-Match {
        background-color: red;
        color: white;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-radius: 5px;
        gap: 10px;
    }

    .blog {
        box-shadow: 5px 5px 5px gray;
        margin-right: 10px;

    }

    .blog-img {
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
    }

    .blog-button {
        background-color: white;
        border: 3px solid rgb(35, 35, 35);
        border-radius: 6px;
        color: rgb(35, 35, 35);
        padding: 6px;
        margin-top: 10px;
    }

    .blog-title {
        font-weight: bolder;
        font-size: 20px;
    }

    .time-chat {
        display: flex;
        margin-bottom: 15px;

    }



    .time {
        display: flex;
        margin-left: 10px;
        margin-right: 50px;

    }

    .text {
        margin-left: 10px;
    }

    .chat {
        display: flex;

    }


    /* ----------------
view-all-button-section
--------------------- */
    .view-all-button {
        background-color: red;
        padding: 15px;
        font-size: 25px;
        color: white;
        margin-left: 50%;
        margin-top: 15px;
        display: none;
    }

    /* ------------------------
footer section related classes
------------------------- */
    .footer {
        background-color: rgb(35, 35, 35);
        width: 100%;
        height: 444px;
    }

    .footer-text {
        text-align: center;
        color: white;
        font-size: 40px;
        font-weight: bolder;
        padding-top: 120px;
    }

    .footer-links {
        text-align: center;
    }

    .icon-color {
        color: lightskyblue;
        font-size: 30px;
        text-align: center;
    }

    hr {
        width: 80%;
        border: 2px solid rgb(65, 63, 63);
        color: rgb(65, 63, 63);
        margin-bottom: 30px;
        margin-top: 40px;

    }

    .footer-link {
        padding-right: 10px;
        color: lightgrey;
    }

    .social-icons {
        margin-left: 680px;
        margin-top: 30px;
    }

    .social-icon {
        margin-right: 10px;
        padding-top: 20px;
    }
}